
/* Your CSS Code here. */
.moviePic {
	height: 400px;
	width: 300px;
	opacity: 0.9;
	display: block;
	margin: 20px auto;
	border-radius: 10px;
}

.movieDetail {
	position: relative;
	top: 10px;
	width: 60%;
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	color: #333;
	font-family: Arial,sans-serif;
}